body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  width: 100%;
  height: 100vh;

  margin: 0;
}

main {
  width: 1100px;
  height: 800px;

  margin-left: 250px;
}

h1 {
  text-align: center;
}

.tree-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  gap: 40px;
}

.tree-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  gap: 40px;
}

.tree {
  width: 200px;
  height: 220px;

  position: relative;
  cursor: pointer;

  background-image: url("assets/img/sapin.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.cat {
  width: 75px;
  height: 75px;

  position: absolute;
  top: 60px;
  left: 50px;

  cursor: pointer;

  background-image: url("assets/img/slime_mieux.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.score-container {
  position: fixed;

  width: 400px;
  left: 150px;
}

.score-text {
  text-align: center;
  font-size: 30px;
  margin: 0;
}

.time-bar {
  width: 100%;
  height: 20px;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.time-fill {
  height: 100%;
  width: 100%;
  background: green;
  transition: width 0.1s;
}

.echo-container {
  position: fixed;
  bottom: 0;
  left: 100px;

  width: 350px;
}

.echo-container p {
  position: absolute;
  z-index: 10;

  top: 0;
  right: 0;
  font-size: 20px;
} 

.echo {
  width: 300px;
  margin-bottom: -5px;
}

.endscreen-overlay {

}


.endscreen-overlay h2 {
  margin: 0;
}

.endscreen-overlay p {
  margin: 0;
}

.button {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  margin-top: 0;
  font-size: 20px;

  margin-top: 20px;

  border: none;
  background: none;
  color: white;

  border: solid 2px white;

  padding: 2px 20px;
}

.endscreen-overlay button:hover {
  cursor: pointer;
}

.start-overlay {

}

.start-overlay h2 {
  margin: 0;
}

.start-overlay p {
  margin: 0;
}

footer {
  position: fixed;
  font-size: 20px;

  bottom: 10px;
  right: 20px;
}

a {
  color: black
}